<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爆料你的真实薪水</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/layui/lay/dest/layui.all.js"></script>
</head>
<body>
<!--水平导航-->
<div id="nav" >
    <ul class="layui-nav" lay-filter="" >
      <li class="layui-nav-item layui-this"><a href="">Nice_^Date首页</a></li>
      <li class="layui-nav-item"><a href="" class="layui-icon">&#xe63a;爆料你的真实薪水</a></li>
      <li class="layui-nav-item"><a href="" class="layui-icon">&#xe63c;留言报错</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;" class="layui-icon">&#xe612;登陆/注册</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
          <dd><a href="">登陆</a></dd>
          <dd><a href="">注册</a></dd>
        </dl>
      </li>
       <li class="layui-nav-item"><a href="" class="layui-icon">&#xe615;搜索</a></li>
    </ul>
</div>
<!--用户数量-->

</body>
</html>