<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="../static/layui/lay/dest/layui.all.js"></script>
    <script src="../static/echarts.min.js"></script>
</head>
<body>
<!--水平导航-->
<div id="nav" >
    <ul class="layui-nav" lay-filter="" >
      <li class="layui-nav-item layui-this"><a href="/">Nice_^Date首页</a></li>
      <li class="layui-nav-item"><a href="/sns" class="layui-icon">&#xe63a;爆料你的真实薪水</a></li>
      <li class="layui-nav-item"><a href="/bbs" class="layui-icon">&#xe63c;留言报错</a></li>
      <li class="layui-nav-item">
        <a href="/login" class="layui-icon">&#xe612;登陆/注册</a>
      </li>
        <li class="layui-nav-item"><a href="/api" class="layui-icon">&#xe64e;API</a></li>
       <li class="layui-nav-item"><a href="" class="layui-icon">&#xe615;搜索</a></li>
         <li class="layui-nav-item"><a href="http://heissuperhan.github.io/about/" class="layui-icon">&#xe64c;简历</a></li>
        <li class="layui-nav-item">{{ name }}</li>
    </ul>
</div>
<!--侧边导航-->
<div id="nav-tree" >
    <ul class="layui-nav layui-nav-tree  layui-nav-side" lay-filter="test" style="margin-top: 60px;">
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">互联网技术类</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">选项先空着</a></dd>
          <dd><a href="javascript:;">我去学机器学习了</a></dd>
          <dd><a href="">有空更新</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">互联网非技术类</a>
      </li>
      <li class="layui-nav-item"><a href="">产品</a></li>
      <li class="layui-nav-item"><a href="">大数据</a></li>
    </ul>
</div>

<!--首页主体-->
<!--标题-->
<div id="content_title" style="margin-left: 200px;">
    <div style="text-align: center;">
        <p style="font-size: 30px;margin-top: 10px;">2016年秋季互联网IT技术招聘数据分析报告</p>
        <p style="margin-top: 5px;">本站总共采集拉勾网、智联招聘、前程无忧三大招聘网站的IT技术招聘信息，收录26个技术职位共15万余条详细信息</p>
    </div>
</div>
<!--q1-->
<div style="margin-left: 200px;">
    <div class="row" >
            <div class="col-md-12">
                <div class="page-header">
                    <h1 style="text-align: center;">分析一. <small>互联网中哪个招聘职位（技术）最高薪？</small></h1>
                </div>
                <div id="q1" style="width: 1200px;height:400px; margin:0 auto ">
                <script>
                     var myChart_q1 = echarts.init(document.getElementById('q1'));

                    myChart_q1.showLoading();  //加载动画

                    $.get("/data_charts/q1",function (data1) {
                        data_q1 = data1;
                        // var str = JSON.parse(data_q1);
                        // document.write(data_q1.job);
                        myChart_q1.hideLoading();//隐藏动画
                        myChart_q1.setOption({
                        title:{
                            text:'哪种技术最高薪？'
                        },
                        tooltip:{},
                        legend:{
                            data:['薪资']
                        },
                         xAxis: {data: data_q1.job},
                          yAxis:{},
                        series: [{
                        name: '薪资',
                        type: 'bar',
                        data: data_q1.salary
                        }]
                        });
                    });
                </script>
                </div>
            </div>
        </div>
</div>
<!--q2-->
<div style="margin-left: 200px;">
 <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="text-align: center;">分析二. <small>互联网哪种规模的公司最土豪？</small></h1>
            </div>
            <div id="q2" style="width: 1200px;height: 400px;margin: 0 auto;">
                <script>
                    var myChart_q2 = echarts.init(document.getElementById('q2'));

                myChart_q2.showLoading();  //加载动画

                $.get("/data_charts/q2",function (data2) {
                    data_q2 = data2;
                    // var str = JSON.parse(data_q1);
                    // document.write(data_q1.job);
                    myChart_q2.hideLoading();//隐藏动画
                    myChart_q2.setOption(

                            {
    backgroundColor: '#2c343c',

    title: {
        text: '哪种规模的公司最土豪（月薪高）？',
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    visualMap: {
        show: false,
        min: 80,
        max: 600,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series : [
        {
            name:'月薪',
            type:'pie',
            radius : '55%',
            center: ['50%', '50%'],
            data:[
                {value:data_q2.salary[0], name:data_q2.jieduan[0]},
                {value:data_q2.salary[1], name:data_q2.jieduan[1]},
                {value:data_q2.salary[2], name:data_q2.jieduan[2]},
                {value:data_q2.salary[3], name:data_q2.jieduan[3]},
                {value:data_q2.salary[4], name:data_q2.jieduan[4]},
                {value:data_q2.salary[5], name:data_q2.jieduan[5]},
                {value:data_q2.salary[6], name:data_q2.jieduan[6]},
                {value:data_q2.salary[7], name:data_q2.jieduan[7]}
            ].sort(function (a, b) { return a.value - b.value}),
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                }
            },
            itemStyle: {
                normal: {
                    color: '#c23531',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
}

                    );
                });

                </script>
            </div>
        </div>
    </div>
</div>
<!--q3-->
<div style="margin-left: 200px;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="text-align: center;">分析三. <small>互联网哪个技术岗位需求量最大？</small></h1>
            </div>
            <div id="q3" style="width: 1200px;height: 600px;margin: 0 auto;">
                <script>
                    var myChart_q3 = echarts.init(document.getElementById('q3'));

                myChart_q3.showLoading();  //加载动画

                $.get("/data_charts/q3",function (data3) {
                    data_q3 = data3;
                    // var str = JSON.parse(data_q1);
                    // document.write(data_q3.javaScript[1]);
                    myChart_q3.hideLoading();//隐藏动画
                    myChart_q3.setOption({
                            title:{
                        text:'哪个技术岗位需求量最大？'
                    },
                    tooltip:{},
                    legend:{
                        data:['百分比']
                    },
                     xAxis: {data: data_q3.job},
                      yAxis:{},
                    series: [{
                    name: '百分比',
                    type: 'bar',
                    data: data_q3.bili
                    }]
                    }
                    );

                });

                </script>
            </div>
        </div>
    </div>
</div>
<!--q4-->
<div style="margin-left: 200px;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="text-align: center;">分析四. <small>哪个领域的公司最缺人？</small></h1>
            </div>
            <div id="q4" style="width: 1200px;height:400px; margin:0 auto ">
            <script>
                 var myChart_q4 = echarts.init(document.getElementById('q4'));

                myChart_q4.showLoading();  //加载动画

                $.get("/data_charts/q4",function (data1) {
                    data_q4 = data1;
                    // var str = JSON.parse(data_q1);
                    // document.write(data_q1.job);
                    myChart_q4.hideLoading();//隐藏动画
                    myChart_q4.setOption(
                         {
    title : {
        text: '哪个公司的领域最缺人？',
        subtext: '百分比',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: data_q4.field
    },
    series : [
        {
            name: '百分比',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:data_q4.bili[0], name:data_q4.field[0]},
                {value:data_q4.bili[1], name:data_q4.field[1]},
                {value:data_q4.bili[2], name:data_q4.field[2]},
                {value:data_q4.bili[3], name:data_q4.field[3]},
                {value:data_q4.bili[4], name:data_q4.field[4]},
                {value:data_q4.bili[5], name:data_q4.field[5]},
                {value:data_q4.bili[6], name:data_q4.field[6]},
                {value:data_q4.bili[7], name:data_q4.field[7]},
                {value:data_q4.bili[8], name:data_q4.field[8]},
                {value:data_q4.bili[9], name:data_q4.field[9]},
                {value:data_q4.bili[10], name:data_q4.field[10]},
                {value:data_q4.bili[11], name:data_q4.field[11]},
                {value:data_q4.bili[12], name:data_q4.field[12]}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
}
                    );
                });
            </script>
            </div>
        </div>
    </div>
</div>
<!--q5-->
<div style="margin-left: 200px;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="text-align: center;">分析五. <small>互联网职位招聘的地域分布情况</small></h1>
            </div>
            <div id="q5" style="width: 1200px;height: 600px;margin: 0 auto;">
                <script>
                    var myChart_q5 = echarts.init(document.getElementById('q5'));

                      myChart_q5.showLoading();  //加载动画
                     $.get("/data_charts/q5",function (data1) {
                         myChart_q5.hideLoading();
                         data_q5 = data1;
                         myChart_q5.setOption({
                                 title: {
        text: '互联网十大主要城市招聘分布比例'
    },
    tooltip: {},
    legend: {
        data: ['分布比例']
    },
    radar: {
        // shape: 'circle',
        indicator: [
           { name: data_q5.city[0], max: 3000},
           { name: data_q5.city[1], max: 3000},
           { name: data_q5.city[2], max: 3000},
           { name: data_q5.city[3], max: 3000},
           { name: data_q5.city[4], max: 3000},
           { name: data_q5.city[5], max: 3000},
           { name: data_q5.city[6], max: 3000},
           { name: data_q5.city[7], max: 3000},
           { name: data_q5.city[8], max: 3000},
           { name: data_q5.city[9], max: 3000}
        ]
    },
    series: [{
        name: '十大主要城市招聘分布比例',
        type: 'radar',
        // areaStyle: {normal: {}},
        data : [
            {
                value : data_q5.count,
                name : '所占比例'
            }
        ]
    }]
                         });

                     });

                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>